body
{
    background-color:#EEE;
}
.box
{
    width:100%;
    margin:10px auto;
    background-color:#FFF;
}
.box *
{
    font-size:12px;
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.boxInfo
{
    padding:10px;
    margin:20px;
}
.avarnhanVat
{
    float:left;
    padding:10px;
    width:calc(40% - 20px);
    border:1px solid #CCC;
    border-radius:5px;
    position:relative;
    height: 177px;
    margin-left:calc(20% - 105px);
}
.infoNhanVat
{
    float:left;
    padding:10px;
    width:calc(40% - 20px);
    border:1px solid #CCC;
    border-radius:5px;
    margin-left:20px;
    position:relative;
}
.titleInfo
{
    left: 0;
    position: absolute;
    text-align: center;
    top: -17px;
    width: 100%;
}
.titleInfo span
{
    border-bottom: 1px solid #0b80c1;
    font-size: 13px;
    font-weight: bold;
    padding: 0 20px 2px;
}
.itemInput
{
    margin:10px 0px;
    position:relative;
}
.itemInput span
{
    display:inline-block;
    width:100px;
    font-size:11px;
    position:absolute;
    top:7px;
}
.itemInput input[type=text]
{
    border:1px solid #CCC;
    border-radius:3px;
    padding:3px 10px;
    width:calc(100% - 130px);
    margin:0px 0px 0px 100px;
}
.itemInput textarea
{
    border:1px solid #CCC;
    border-radius:3px;
    padding:3px 10px;
    width:calc(100% - 130px);
    height:50px;
    margin:0px 0px 0px 100px;
}
.showAvarta
{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 3px;
    height: 100%;
    width: 100%;
}
.btnUpload,.btnUploadTinhHuong
{
    background-image: url("../images/upload-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    bottom: 5px;
    box-shadow: 0 0 8px #333;
    height: 40px;
    position: absolute;
    right: 5px;
    width: 40px;
    opacity: 0.2;
    transition: opacity 0.3s ease-out 0s;
    cursor:pointer;
    background-color:#FFF;
}
.avarnhanVat:hover .btnUpload,.itemTinhHuong-Conver:hover .btnUploadTinhHuong
{
    opacity: 1;
}
.btnAll
{
    background-color: #fff;
    background-position: 5px center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 11px;
    font-weight: bold;
    padding: 6px 10px 6px 30px;
    cursor:pointer;
    box-shadow: 0 0 0 #fff;
    transition: opacity 0.3s ease-out 0s;
}
.btnAll:hover
{
    box-shadow: 0 0 5px #999;
}
.itemNgay
{
    border: 1px solid #ccc;
    padding: 10px 10px 0;
    margin:20px;
    position:relative;
}
.itemNgay .itemNgay-Title
{
    font-size: 13px;
    font-weight: bold;
}


.itemTinhHuong
{
    position:relative;
    margin: 10px 10px 0px 10px;
    display:none;
}
.itemTinhHuong-Conver,.itemTinhHuong-GT
{
    height: 150px;
    position: relative;
    width: calc(100% - 10px);
    border:1px solid #CCC;
    border-radius:5px;
    padding:5px;
}
.itemTinhHuong-GT
{
    margin-top:40px;
}
.itemTinhHuong-Left
{
    width:30%;
    height:100%;
}
.itemTinhHuong-Center
{
    width:40%;
    height:100%;
    
}
.itemTinhHuong-Right
{
    width:30%;
    height:100%;
    
}
.showConver
{
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 3px;
    height: 100%;
    width: 100%;
}
.itemTinhHuong-GT textarea
{
    border:none;
    width:100%;
    height:100%;
    resize: none;
}
.itemTinhHuong-Nc
{
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 100%;
    margin: 0 10%;
    position: relative;
    width: calc(100% - 20%);
}
.itemTinhHuong-CauTraLoi
{
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 100%;
    position: relative;
    width: 100%;
}

.itemTinhHuong-Add,.itemTinhHuong-PageItem
{
    display:inline-block;
    padding:5px 8px;
    font-size:11px;
    font-weight:bold;
    border:1px solid #CCC;
    border-radius:3px;
    margin:5px;
    cursor:pointer;
    position:relative;
}
.itemTinhHuong-Add:hover,.itemTinhHuong-PageItem:hover,.itemTinhHuong-PageItem-Select
{
    border:1px solid #e44b4b;
    background-color:#e44b4b;
}
.itemTinhHuong-PageItem-Delete
{
    background-color: #fff;
    background-image: url("../images/Close-2-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    height: 20px;
    left: calc(50% - 11px);
    position: absolute;
    top: -20px;
    width: 20px;
    z-index: 1;
    display:none;
    opacity:0.5;
    transition: opacity 0.3s ease-out 0s;
}
.itemTinhHuong-PageItem-Delete:hover
{
    opacity:1;
}
.itemTinhHuong-PageItem:hover .itemTinhHuong-PageItem-Delete
{
    display:block;
}
.itemTinhHuong-Nc-Add
{
    margin:10px;
    min-height: 316px;
}
.itemTinhHuong-Nc-Btn
{
    margin-bottom: 15px;
    margin-right: 10px;
    text-align: right;
}
.itemTroChuyen
{
    position:relative;
    margin-bottom:20px;
}
.itemTroChuyen .itemTroChuyen-Avar
{
    height:40px;
    width:40px;
    border:1px solid #CCC;
    display:inline-block;
    border-radius:50%;
    overflow:hidden;
    position:absolute;
    top:10px;
    left:0px;
    cursor:pointer;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
}
.itemTroChuyen textarea
{
    resize: none;
    width:calc(100% - 90px);
    border:1px solid #CCC;
    padding:10px;
    margin:0px 0px 0px 50px;
    border-radius:3px;
}
.btnDeleteTroChuyen
{
    background-image: url("../images/Close-2-icon.png");
    cursor: pointer;
    display: inline-block;
    height: 16px;
    position: absolute;
    right: -3px;
    top: calc(50% - 8px);
    width: 16px;
}
.contentCauTraLoi-Btn
{
    border-bottom:1px solid #333;
}
.contentCauTraLoi-Btn span
{
    border-left: 1px solid #333;
    display: inline-block;
    font-size: 11px;
    font-weight:bold;
    padding: 5px 0;
    text-align: center;
    width: calc(33.3% - 1px);
    background-color:#FFF;
    cursor:pointer;
}
.contentCauTraLoi-Btn span:first-child
{
    border-left:none;
    width: calc(33.3%);
}
.contentCauTraLoi-Btn span:hover,.contentCauTraLoi-Btn .selectClass
{
    background-color:#333;
    color:#FFF;
}
.contentCauTraLoi-Item
{
    display:none;
    width:100%;
    height:100%;
}
.contentCauTraLoi-Item div
{
    margin-top:10px;
    font-size:12px;
    font-weight:bold;
    padding:0px 0px 0px 10px;
}
.contentCauTraLoi-Item textarea
{
    height:calc(50% - 32px);
    width:calc(100% - 12px);
    border:1px solid #CCC;
    border-left:none;
    border-right:none;
    resize: none;
    padding:5px;
}
.contentCauTraLoi
{
    height:calc(100% - 28px);
    width:100%;
}
.popuplammo
{
    background-color: #999;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-image:url('../images/350.GIF');
    background-position:center center;
    background-repeat:no-repeat;
    display:none;
}
.itemTinhHuong-List-Type
{
    border-bottom: 1px solid #777;
    min-height: 20px;
    text-align: center;
    width: 100%;
}
.itemTinhHuong-List-Type span
{
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: calc(100% - 5px);
    padding: 3px 0;
    text-align: center;
    width: 16%;
    background-color:transparent;
    padding:5px 0px;
    cursor:pointer;
}
.itemTinhHuong-List-Type span:hover,.itemTinhHuong-List-Type-Select
{
    background-color: #777 !important;
    color: #FFF !important;
}
.itemTinhHuong-List-Data
{
    padding:10px;
    border: 1px solid #777;
    border-top:none;
}
.itemTinhHuong-List-Data .itemTinhHuong-List-Data-Item
{
    display:none;
}
.admin-panelKeoTha-Cau
{
}
.admin-panelKeoTha-Cau textarea,.admin-panelDienCau-Cau textarea,.admin-panelMatching-Cau textarea,.admin-panelPhanLoai-Cau textarea,.admin-ChonLuaDapAn-Cau textarea,.admin-Image-Cau textarea
{
    border: 1px solid #ccc;
    min-height: 50px;
    padding: 5px;
    resize: none;
    transition: height 0.1s ease-out 0s;
    width: calc(100% - 12px);
    font-size:14px;
    line-height:20px;
}
td.txtHuongDan
{
    font-size:11px;
    color:#888;
    line-height:20px;
}
.contentAllEnterText
{
    border: 1px solid #ccc;
    position:relative;
    overflow:hidden;
}
.contentAllEnterText textarea
{
    border: none;
    width: calc(100% - 10px);
    opacity:0;
    position:relative;
    z-index:1;
    font-size:14px;
    line-height:20px;
}
.contentAllEnterText textarea:focus
{
    opacity:1;
}
.contentAllEnterText .contentAllEnterText-Add
{
    display: inline-block;
    font-size: 14px;
    height: calc(100% - 10px);
    left: 5px;
    line-height: 20px;
    position: absolute;
    top: 5px;
    width: calc(100% - 10px);
    z-index: 0;
}
.contentAllEnterText .contentAllEnterText-Add *
{
    font-size: 14px;
    line-height: 20px;
}
.contentAllEnterText .contentAllEnterText-Add .contentAllEnterText-Add-Eff
{
    background-color: yellow;
    padding: 0 4px;
}
.admin-panelPhanLoai-Cau input[type=text]
{
    border: 1px solid #ccc;
    padding: 3px 5px;
    width: calc(100% - 12px);
    font-size:14px;
}
.admin-Image-Cau
{
    width:100%;
    position:relative;
}
.admin-Image-Cau .admin-Image-Cau-Img
{
    border:1px solid #Ededed;
}
.admin-Image-Cau .admin-Image-Cau-Img-Tool
{
    height:30px;
    border-bottom:1px solid #Ededed;
}
.admin-Image-Cau .admin-Image-Cau-Img-Data
{
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 800px;
    background-position:center top;
    background-repeat:no-repeat;
}
.admin-Image-Cau .admin-Image-Cau-Img-Tool .btn-tool-img
{
    border-right: 1px solid #ededed;
    color: #999;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 100%;
    line-height: 29px;
    padding-left: 30px;
    padding-right: 10px;
}
.admin-Image-Cau .admin-Image-Cau-Img-Tool .btn-tool-img:hover,.admin-Image-Cau .admin-Image-Cau-Img-Tool .btn-tool-img-select
{
    background-color:#ededed;
    color:#555;
}
.Tool-AddDiem
{
    background-image:url('../images/tip_throbber.png');
    background-repeat:no-repeat;
    background-position: -770px center;
}
.Tool-Tang
{
    background-image:url('../images/add-icon-admin.png');
    background-repeat:no-repeat;
    background-position: 5px center;
}
.Tool-Giam
{
    background-image:url('../images/tru-icon-admin.png');
    background-repeat:no-repeat;
    background-position: 5px center;
}
.Tool-upload
{
    background-image:url('../images/upload-icon-admin.png');
    background-repeat:no-repeat;
    background-position: 5px center;
}
.admin-Image-Cau .admin-Image-Cau-Img-Data .admin-Image-Cau-Img-Data-Pixel
{
    height: 100%;
    left: -9px;
    position: absolute;
    top: -9px;
    width: calc(100% + 36px);
    z-index: 1;
    opacity:0;
    transition: opacity 0.3s ease-out 0s;
}
.admin-Image-Cau .admin-Image-Cau-Img-Data .admin-Image-Cau-Img-Data-Pixel-Item
{
    border: 1px solid #ccc;
    border-radius: 15px;
    height: 18px;
    min-width: 50px;
    overflow: hidden;
    position: absolute;
    cursor:pointer;
}
.admin-Image-Cau .admin-Image-Cau-Img-Data .admin-Image-Cau-Img-Data-Pixel-Item .admin-Image-Cau-Img-Data-Pixel-ItemEff
{
    background-image: url("../images/tip_throbber.png");
    background-position: -774px center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 18px;
    left: 0;
    position: absolute;
    top: 0;
    width: 18px;
}
.admin-Image-Cau .admin-Image-Cau-Img-Data .admin-Image-Cau-Img-Data-Pixel-Item:hover .admin-Image-Cau-Img-Data-Pixel-ItemEff
{
    background-image: url("../images/delete-icon.png");
    background-position: 6px center;
    background-repeat: no-repeat;
    background-size: 10px auto;
    transition: background-position,background-size 0.1s ease-out 0s;
}
.admin-Image-Cau .admin-Image-Cau-Img-Data .admin-Image-Cau-Img-Data-Pixel-Item:hover .admin-Image-Cau-Img-Data-Pixel-ItemEff:hover
{
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: 12px auto;
}
.admin-Image-Cau .admin-Image-Cau-Img-Data .admin-Image-Cau-Img-Data-Pixel-Item .admin-Image-Cau-Img-Data-Pixel-ItemText
{
    display: inline-block;
    font-size: 11px;
    height: 100%;
    margin: 0 10px 0 20px;
    width: calc(100% - 30px);
    opacity:0;
}
.admin-Image-Cau .admin-Image-Cau-Img-Data .admin-Image-Cau-Img-Data-Pixel-Item input[type=text]
{
    background-color: rgba(255, 255, 255, 0.5);
    border: medium none;
    border-radius: 2px 7px 7px 2px;
    font-size: 11px;
    height: 14px;
    left: 0;
    margin: 0 0 0 20px;
    padding-right: 8px;
    position: absolute;
    top: 1px;
    width: calc(100% - 21px);
}
.admin-Image-Cau .admin-Image-Cau-Img-Data .admin-Image-Cau-Img-Data-Pixel span
{
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    float:left;
    height: 18px;
    width: 18px;
    background-color:transparent;
    opacity:0.5;
    transition: background-color,opacity 0.3s ease-out 0s;
}
.admin-Image-Cau .admin-Image-Cau-Img-Data .admin-Image-Cau-Img-Data-Pixel span:hover
{
    background-color:rgba(11,128,193,0.8);
    opacity:1;
}
.itemNgay .parentTitle
{
    border: 1px solid #ccc;
    margin: 10px;
    position:relative;
}
.itemNgay .parentTitle .parentTitle-Data
{
    min-height:30px;
    padding: 10px;
}
.itemNgay .cke_focus
{
    box-shadow: 0 0 10px #999 inset;
}
.itemNgay .parentTitle .parentTitle-Title
{
    left: 0;
    position: absolute;
    text-align: center;
    top: -18px;
    width: 100%;
}
.itemNgay .parentTitle .parentTitle-Title span
{
    border-bottom: 3px solid #0b80c1;
    font-size: 14px;
    font-weight: bold;
    padding:0px 10px;
    color:#777;
}
.itemNgay .parentTitleLoading
{
    background-image:url('../images/loadingClass.gif');
    background-position:center center;
    background-repeat:no-repeat;
}
.contentInfoDeThi
{
    margin:20px 20px 0px 20px;
}
.contentInfoDeThi table tr
{
    display: list-item;
    list-style: none outside none;
    margin: 15px 0;
    position: relative;
}
.contentInfoDeThi .inputNumber input[type=text]
{
    border:1px solid #CCC;
    border-radius:3px;
    font-size:12px;
    padding:3px 10px;
    width:calc(100% - 22px);
}
.contentInfoDeThi-noidung-inputNumber .txtNoiDungNone
{
    display:none;
}
.contentInfoDeThi-noidung
{
    padding:10px;
    border:1px solid #CCC;
    min-height:30px;
}
.itembaihoclienquan
{
    border: 1px solid #ccc;
    padding: 2px 10px;
    width: calc(100% - 95px);
}