*
{
    outline: none;
}

body
{
    font-family: 'Arima Madurai', cursive;
    font-size: 12px;
    line-height: normal;
    margin: 0px;
    padding: 0px;
    background-color: #FFF;
}

#loading_masster
{
    position: fixed;
    z-index: 1000000000;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(255,255,255,0.7);
    background-image: url('../images/loadingClass.gif');
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
}

.htm_err_respon
{
    position: fixed;
    right: 10px;
    /*text-align: center;*/
    top: 65px;
    z-index: 10;
    max-width: calc(100% - 220px);
}

a
{
    text-decoration: none;
}

.bodyCrazy .slogan_search
{
    width: 100%;
    height: 80px;
    margin: auto;
    background-color: #77018b;
}

.bodyCrazy .eff_7mau
{
    width: 100%;
    position:relative;
}

    .bodyCrazy .eff_7mau div
    {
        float: left;
        width: 14.28571428571429%;
        height: 18px;
        text-align: center;
        color: #333;
        padding: 10px 0px;
        font-size: 14px;
        font-weight: 700;
    }

        .bodyCrazy .eff_7mau div[active]
        {
            position: relative;
            padding-bottom: 15px;
            margin-top: -5px;
        }

.bodyCrazy .banner
{
    width: 100%;
    height: 360px;
    position: relative;
}

    .bodyCrazy .banner .banner_content
    {
        max-width: 1200px;
        height: 100%;
        position: relative;
        margin: auto;
    }

        .bodyCrazy .banner .banner_content .item_banner
        {
            width: 100%;
            height: 100%;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            opacity: 0;
            -webkit-transition: opacity 1s ease-out 0s;
            -moz-transition: opacity 1s ease-out 0s;
            transition: opacity 1s ease-out 0s;
            top: 0px;
            left: 0px;
        }

            .bodyCrazy .banner .banner_content .item_banner[show]
            {
                opacity: 1;
            }

    .bodyCrazy .banner .banner_index
    {
        position: absolute;
        z-index: 2;
        bottom: 10px;
        text-align: right;
        right: 10px;
    }

        .bodyCrazy .banner .banner_index .banner_index_span
        {
            display: inline-block;
            background-color: rgba(0,0,0,0.5);
            border-radius: 3px;
            padding: 0px 20px;
            height: 42px;
        }

            .bodyCrazy .banner .banner_index .banner_index_span span
            {
                cursor: pointer;
                display: inline-block;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: #FFF;
                margin: 10px 5px;
                
            }

                .bodyCrazy .banner .banner_index .banner_index_span span:after
                {
                    content: ".";
                    opacity:0;
                }
                .bodyCrazy .banner .banner_index .banner_index_span span[show]{
                    background-color:#77018b;
                    border:5px solid #FFF;
                }

.bottom
{
}

    .bottom .bottom_line
    {
        height: 22px;
        width: 100%;
        background-color: #77018b;
    }

        .bottom .bottom_line .bottom_btn_tuvan
        {
            position: absolute;
            right: 0px;
            height: 40px;
            width: 230px;
            background-color: #77018b;
            margin-top: -40px;
            border-radius: 3px 3px 0px 0px;
            cursor: pointer;
        }

            .bottom .bottom_line .bottom_btn_tuvan[none]
            {
                display: none;
            }

            .bottom .bottom_line .bottom_btn_tuvan::after
            {
                content: attr(title);
                font-size: 18px;
                color: #FFF;
                text-align: center;
                line-height: 40px;
                width: 100%;
                position: absolute;
            }

    .bottom .bottom_center
    {
        width: 100%;
        height: 140px;
        background-color: #230628;
    }

    .bottom .bottom_end
    {
        width: 100%;
        min-height: 40px;
        background-color: #77018b;
        color: #FFF;
        font-size: 14px;
        text-align: center;
        box-sizing: border-box;
        padding: 12px 10px 10px 10px;
    }

.panel_1k
{
    width: 1000px;
    max-width: 100%;
    margin: auto;
}

.panel_1k2
{
    width: 1200px;
    max-width: 100%;
    margin: auto;
}

.pagePhanTrang
{
    text-align: center;
}

    .pagePhanTrang .btnPhanTrangItem
    {
        background-color: #111111;
        color: #FFF;
        padding: 6px 13px;
        margin: 0px 2px;
    }

        .pagePhanTrang .btnPhanTrangItem:not([href])
        {
            background-color: #ae4bce;
        }

#confirmLinkTam .confirm_content *
{
    font-family: 'Arima Madurai', cursive !important;
}

#confirmLinkTam .confirm-Btn span:first-child
{
    background-color: #ae4bce !important;
}

.list-item-link
{
    text-align: center;
    padding-top: 20px;
}

    .list-item-link a
    {
        color: #FFF;
        font-size: 15px;
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
    }

    .list-item-link span
    {
        display: inline-block;
        width: 2px;
        height: 20px;
        margin: 0px 15px;
        vertical-align: middle;
    }

.list-item-icon
{
    text-align: center;
    margin-top: 40px;
}

    .list-item-icon img
    {
        margin: 0px 10px;
    }

.slogan_search marquee
{
    font-size: 25px;
    color: #FFF;
    position: absolute;
    left: 0px;
    top: 22px;
    width: calc(100% - 300px);
}

.slogan_search input
{
    background-color: #FFF;
    border: none;
    position: absolute;
    right: 0px;
    top: 26px;
    height: 30px;
    width: 250px;
    box-sizing: border-box;
    padding: 3px 5px;
    font-size: 12px;
    padding-right: 33px;
    background-image: url('../Images/Csaga/search.png');
    background-position: calc(100% - 0px) center;
    background-repeat: no-repeat;
    background-size: 36px;
}

.cate-link
{
    margin: 20px 0px;
    border-bottom: 1px dashed #DDD;
    padding-bottom: 5px;
    font-size: 17px;
    font-weight: bold;
}

    .cate-link .item-link-cate a
    {
        color: #ae4bce;
    }

    .cate-link .item-link-cate::after
    {
        content: " ";
        font-weight: bold;
        background-image: url('../Images/Csaga/next.png');
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 16px;
        height: 13px;
        display: inline-block;
        position: relative;
        top: 1px;
        margin: 0px 9px;
    }

    .cate-link .item-link-cate:last-child::after
    {
        display: none;
    }
