<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Entity.Properties.Settings.admin_sConnectionString"
            connectionString="Data Source=CRAZYLADY-LAB;Initial Catalog=admin_s;Persist Security Info=True;User ID=sa;Password=1234567"
            providerName="System.Data.SqlClient" />
        <add name="Entity.Properties.Settings.admin_sConnectionString2"
            connectionString="Data Source=THANGNV\SQLEXPRESS;Initial Catalog=admin_s;Persist Security Info=True;User ID=sa;Password=1234567" />
    </connectionStrings>
</configuration>