<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <!-- PayPal SDK New settings -->

  <configSections>
    <section name="urlrewritingnet"
             requirePermission="false"
             type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"/>
  </configSections>
  <urlrewritingnet rewriteOnlyVirtualUrls="true"
                   contextItemsPrefix="QueryString"
                   defaultProvider="RegEx"
                   xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>


      <!--Home-->
      <add name="default-page"
           virtualUrl="^~/lang-(.*)$"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/Default.aspx?lang=$1"
           ignoreCase="true"/>
      <add name="default-tintuc-sukien"
           virtualUrl="^~/(.*)/tintuc-sukien.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/View/tintuc-sukien.aspx?lang=$1"
           ignoreCase="true"/>
      <add name="default-tintuc-sukien-chitiet"
           virtualUrl="^~/(.*)/tintuc-sukien-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/View/newsDetail.aspx?lang=$1&amp;title=$2&amp;id=$3"
           ignoreCase="true"/>
      <add name="default-thuvien"
           virtualUrl="^~/(.*)/thuvien.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/View/thuvien.aspx?lang=$1"
           ignoreCase="true"/>
      <add name="default-thuvien-chitiet"
           virtualUrl="^~/(.*)/thuvien-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/View/newsDetail.aspx?lang=$1&amp;title=$2&amp;id=$3"
           ignoreCase="true"/>
      <add name="default-hotro"
           virtualUrl="^~/(.*)/hotro.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/View/hotro.aspx?lang=$1&amp;title=&amp;id=-1"
           ignoreCase="true"/>
      <add name="default-hotro-category"
           virtualUrl="^~/(.*)/mucluc-hotro-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/View/hotro.aspx??lang=$1&amp;title=$2&amp;id=$3"
           ignoreCase="true"/>
      <add name="default-hotro-chitiet"
           virtualUrl="^~/(.*)/hotro-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/View/newsDetail.aspx?lang=$1&amp;title=$2&amp;id=$3"
           ignoreCase="true"/>
      <add name="default-nhom-nu-yeu-nu"
           virtualUrl="^~/(.*)/nhom-nu-yeu-nu.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/View/nhomyeunu.aspx?lang=$1&amp;title=&amp;id=-1"
           ignoreCase="true"/>
      <add name="default-nhom-nu-yeu-nu-chitiet"
           virtualUrl="^~/(.*)/nhom-nu-yeu-nu-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/View/newsDetail.aspx?lang=$1&amp;title=$2&amp;id=$3"
           ignoreCase="true"/>
      <add name="default-hinh-anh-cong-dong"
           virtualUrl="^~/(.*)/hinh-anh-cong-dong.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/View/hinhanhcongdong.aspx?lang=$1"
           ignoreCase="true"/>
      <add name="default-hinh-anh-cong-dong-chitiet"
           virtualUrl="^~/(.*)/chitiet-hinh-anh-cong-dong-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/View/hinhanhcongdong-chitiet.aspx?lang=$1&amp;title=$2&amp;id=$3"
           ignoreCase="true"/>
      <!--End Home-->



      <add name="create-signal-chat"
           virtualUrl="^~/create-signal-chat.js$"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/linktamchat/Scripts/chat/jquery.signalR-2.1.2.min.js"
           ignoreCase="true"/>

      <add name="admin-index"
           virtualUrl="^~/admin/$"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/index.aspx?TypeAction=0"
           ignoreCase="true"/>
      <add name="admin-khong-co-quyen"
           virtualUrl="^~/admin/khong-co-quyen-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/khong-co-quyen.aspx?Type=$1"
           ignoreCase="true"/>
      <add name="admin-dang-xuat"
           virtualUrl="^~/admin/dang-xuat.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/dang-xuat.aspx"
           ignoreCase="true"/>
      <add name="admin-dang-nhap"
           virtualUrl="^~/admin/dang-nhap.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/dang-nhap.aspx"
           ignoreCase="true"/>

      <!--Tin về LGBT+-->
      <add name="admin-tintucsukien"
           virtualUrl="^~/admin/tintucsukien.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=0&amp;Type=1"
           ignoreCase="true"/>
      <add name="admin-tintucsukien-themmoi"
           virtualUrl="^~/admin/them-moi-tintucsukien.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=1&amp;Type=1"
           ignoreCase="true"/>
      <add name="admin-tintucsukien-edit"
           virtualUrl="^~/admin/tintucsukien-chinh-sua-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=2&amp;Type=1&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>
      <add name="admin-tintucsukien-xoa"
           virtualUrl="^~/admin/tintucsukien-xoa-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=3&amp;Type=1&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>
      <add name="admin-tintucsukien-capnhattrangthai"
           virtualUrl="^~/admin/tintucsukien-trangthai-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=4&amp;Type=1&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>

      <!--Thư Viện-->
      <add name="admin-thu-vien"
           virtualUrl="^~/admin/thu-vien.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=0&amp;Type=2"
           ignoreCase="true"/>
      <add name="admin-thu-vien-themmoi"
           virtualUrl="^~/admin/them-moi-thu-vien.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=1&amp;Type=2"
           ignoreCase="true"/>
      <add name="admin-thu-vien-edit"
           virtualUrl="^~/admin/thu-vien-chinh-sua-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=2&amp;Type=2&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>
      <add name="admin-thu-vien-xoa"
           virtualUrl="^~/admin/thu-vien-xoa-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=3&amp;Type=2&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>
      <add name="admin-thu-vien-capnhattrangthai"
           virtualUrl="^~/admin/thu-vien-trangthai-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=4&amp;Type=2&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>

      <add name="admin-muc-luc-thu-vien"
           virtualUrl="^~/admin/muc-luc-thu-vien.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/category.aspx?TypeAction=0&amp;Type=2"
           ignoreCase="true"/>
      <add name="admin-muc-luc-thu-vien-themmoi"
           virtualUrl="^~/admin/them-moi-muc-luc-thu-vien.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/category.aspx?TypeAction=1&amp;Type=2"
           ignoreCase="true"/>
      <add name="admin-muc-luc-thu-vien-edit"
           virtualUrl="^~/admin/muc-luc-thu-vien-chinh-sua-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/category.aspx?TypeAction=2&amp;Type=2&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>
      <add name="admin-muc-luc-thu-vien-xoa"
           virtualUrl="^~/admin/muc-luc-thu-vien-xoa-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/category.aspx?TypeAction=3&amp;Type=2&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>
      <add name="admin-muc-luc-tthu-vien-capnhattrangthai"
           virtualUrl="^~/admin/muc-luc-thu-vien-trangthai-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/category.aspx?TypeAction=4&amp;Type=2&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>

      <!--Hình ảnh cộng đồng nữ yêu nữ-->
      <add name="admin-hinh-anh-cong-dong-nu-yeu-nu"
           virtualUrl="^~/admin/hinh-anh-cong-dong-nu-yeu-nu.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=0&amp;Type=3"
           ignoreCase="true"/>
      <add name="admin-hinh-anh-cong-dong-nu-yeu-nu-themmoi"
           virtualUrl="^~/admin/them-moi-hinh-anh-cong-dong-nu-yeu-nu.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=1&amp;Type=3"
           ignoreCase="true"/>
      <add name="admin-hinh-anh-cong-dong-nu-yeu-nu-edit"
           virtualUrl="^~/admin/hinh-anh-cong-dong-nu-yeu-nu-chinh-sua-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=2&amp;Type=3&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>
      <add name="admin-hinh-anh-cong-dong-nu-yeu-nu-xoa"
           virtualUrl="^~/admin/hinh-anh-cong-dong-nu-yeu-nu-xoa-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=3&amp;Type=3&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>
      <add name="admin-hinh-anh-cong-dong-nu-yeu-nu-capnhattrangthai"
           virtualUrl="^~/admin/hinh-anh-cong-dong-nu-yeu-nu-trangthai-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=4&amp;Type=3&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>

      <add name="admin-muc-luc-hinh-anh-cong-dong-nu-yeu-nu"
           virtualUrl="^~/admin/muc-luc-hinh-anh-cong-dong-nu-yeu-nu.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/category.aspx?TypeAction=0&amp;Type=3"
           ignoreCase="true"/>
      <add name="admin-muc-luc-hinh-anh-cong-dong-nu-yeu-nu-themmoi"
           virtualUrl="^~/admin/them-moi-muc-luc-hinh-anh-cong-dong-nu-yeu-nu.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/category.aspx?TypeAction=1&amp;Type=3"
           ignoreCase="true"/>
      <add name="admin-muc-luc-hinh-anh-cong-dong-nu-yeu-nu-edit"
           virtualUrl="^~/admin/muc-luc-hinh-anh-cong-dong-nu-yeu-nu-chinh-sua-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/category.aspx?TypeAction=2&amp;Type=3&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>
      <add name="admin-muc-luc-hinh-anh-cong-dong-nu-yeu-nu-xoa"
           virtualUrl="^~/admin/muc-luc-hinh-anh-cong-dong-nu-yeu-nu-xoa-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/category.aspx?TypeAction=3&amp;Type=3&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>
      <add name="admin-muc-luc-thinh-anh-cong-dong-nu-yeu-nu-capnhattrangthai"
           virtualUrl="^~/admin/muc-luc-hinh-anh-cong-dong-nu-yeu-nu-trangthai-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/category.aspx?TypeAction=4&amp;Type=3&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>

      <!--Các nhóm nữ yêu nữ-->
      <add name="admin-cac-nhom-nu-yeu-nu"
           virtualUrl="^~/admin/cac-nhom-nu-yeu-nu.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=0&amp;Type=4"
           ignoreCase="true"/>
      <add name="admin-cac-nhom-nu-yeu-nu-themmoi"
           virtualUrl="^~/admin/them-moi-cac-nhom-nu-yeu-nu.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=1&amp;Type=4"
           ignoreCase="true"/>
      <add name="admin-cac-nhom-nu-yeu-nu-edit"
           virtualUrl="^~/admin/cac-nhom-nu-yeu-nu-chinh-sua-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=2&amp;Type=4&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>
      <add name="admin-cac-nhom-nu-yeu-nu-xoa"
           virtualUrl="^~/admin/cac-nhom-nu-yeu-nu-xoa-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=3&amp;Type=4&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>
      <add name="admin-cac-nhom-nu-yeu-nu-capnhattrangthai"
           virtualUrl="^~/admin/cac-nhom-nu-yeu-nu-trangthai-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=4&amp;Type=4&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>

      <add name="admin-muc-luc-cac-nhom-nu-yeu-nu"
           virtualUrl="^~/admin/muc-luc-cac-nhom-nu-yeu-nu.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/category.aspx?TypeAction=0&amp;Type=4"
           ignoreCase="true"/>
      <add name="admin-muc-luc-cac-nhom-nu-yeu-nu-themmoi"
           virtualUrl="^~/admin/them-moi-muc-luc-cac-nhom-nu-yeu-nu.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/category.aspx?TypeAction=1&amp;Type=4"
           ignoreCase="true"/>
      <add name="admin-muc-luc-cac-nhom-nu-yeu-nu-edit"
           virtualUrl="^~/admin/muc-luc-cac-nhom-nu-yeu-nu-chinh-sua-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/category.aspx?TypeAction=2&amp;Type=4&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>
      <add name="admin-muc-luc-cac-nhom-nu-yeu-nu-xoa"
           virtualUrl="^~/admin/muc-luc-cac-nhom-nu-yeu-nu-xoa-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/category.aspx?TypeAction=3&amp;Type=4&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>
      <add name="admin-muc-luc-tcac-nhom-nu-yeu-nu-capnhattrangthai"
           virtualUrl="^~/admin/muc-luc-cac-nhom-nu-yeu-nu-trangthai-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/category.aspx?TypeAction=4&amp;Type=4&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>

      <!--Giải trí-->
      <add name="admin-giai-tri"
           virtualUrl="^~/admin/giai-tri.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=0&amp;Type=5"
           ignoreCase="true"/>
      <add name="admin-giai-tri-themmoi"
           virtualUrl="^~/admin/them-moi-giai-tri.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=1&amp;Type=5"
           ignoreCase="true"/>
      <add name="admin-giai-tri-edit"
           virtualUrl="^~/admin/giai-tri-chinh-sua-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=2&amp;Type=5&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>
      <add name="admin-giai-tri-xoa"
           virtualUrl="^~/admin/giai-tri-xoa-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=3&amp;Type=5&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>
      <add name="admin-giai-tri-capnhattrangthai"
           virtualUrl="^~/admin/giai-tri-trangthai-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=4&amp;Type=5&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>

      <add name="admin-muc-luc-giai-tri"
           virtualUrl="^~/admin/muc-luc-giai-tri.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/category.aspx?TypeAction=0&amp;Type=5"
           ignoreCase="true"/>
      <add name="admin-muc-luc-giai-tri-themmoi"
           virtualUrl="^~/admin/them-moi-muc-luc-giai-tri.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/category.aspx?TypeAction=1&amp;Type=5"
           ignoreCase="true"/>
      <add name="admin-muc-luc-giai-tri-edit"
           virtualUrl="^~/admin/muc-luc-giai-tri-chinh-sua-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/category.aspx?TypeAction=2&amp;Type=5&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>
      <add name="admin-muc-luc-giai-tri-xoa"
           virtualUrl="^~/admin/muc-luc-giai-tri-xoa-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/category.aspx?TypeAction=3&amp;Type=5&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>
      <add name="admin-muc-luc-tgiai-tri-capnhattrangthai"
           virtualUrl="^~/admin/muc-luc-giai-tri-trangthai-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/category.aspx?TypeAction=4&amp;Type=5&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>

      <!--Việc Làm-->
      <add name="admin-ho-tro"
           virtualUrl="^~/admin/ho-tro.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=0&amp;Type=6"
           ignoreCase="true"/>
      <add name="admin-ho-tro-themmoi"
           virtualUrl="^~/admin/them-moi-ho-tro.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=1&amp;Type=6"
           ignoreCase="true"/>
      <add name="admin-ho-tro-edit"
           virtualUrl="^~/admin/ho-tro-chinh-sua-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=2&amp;Type=6&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>
      <add name="admin-ho-tro-xoa"
           virtualUrl="^~/admin/ho-tro-xoa-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=3&amp;Type=6&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>
      <add name="admin-ho-tro-capnhattrangthai"
           virtualUrl="^~/admin/ho-tro-trangthai-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=4&amp;Type=6&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>

      <add name="admin-muc-luc-ho-tro"
           virtualUrl="^~/admin/muc-luc-ho-tro.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/category.aspx?TypeAction=0&amp;Type=6"
           ignoreCase="true"/>
      <add name="admin-muc-luc-ho-tro-themmoi"
           virtualUrl="^~/admin/them-moi-muc-luc-ho-tro.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/category.aspx?TypeAction=1&amp;Type=6"
           ignoreCase="true"/>
      <add name="admin-muc-luc-ho-tro-edit"
           virtualUrl="^~/admin/muc-luc-ho-tro-chinh-sua-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/category.aspx?TypeAction=2&amp;Type=6&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>
      <add name="admin-muc-luc-ho-tro-xoa"
           virtualUrl="^~/admin/muc-luc-ho-tro-xoa-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/category.aspx?TypeAction=3&amp;Type=6&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>
      <add name="admin-muc-luc-tho-tro-capnhattrangthai"
           virtualUrl="^~/admin/muc-luc-ho-tro-trangthai-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/category.aspx?TypeAction=4&amp;Type=6&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>


      <!--Event-->
      <add name="admin-event"
           virtualUrl="^~/admin/event.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=0&amp;Type=7"
           ignoreCase="true"/>
      <add name="admin-event-themmoi"
           virtualUrl="^~/admin/them-moi-event.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=1&amp;Type=7"
           ignoreCase="true"/>
      <add name="admin-event-edit"
           virtualUrl="^~/admin/event-chinh-sua-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=2&amp;Type=7&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>
      <add name="admin-event-xoa"
           virtualUrl="^~/admin/event-xoa-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=3&amp;Type=7&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>
      <add name="admin-event-capnhattrangthai"
           virtualUrl="^~/admin/event-trangthai-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/news.aspx?TypeAction=4&amp;Type=7&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>

      <!--Account quản trị-->
      <add name="admin-tai-khoan-quan-tri"
           virtualUrl="^~/admin/tai-khoan-quan-tri.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/admin.aspx?TypeAction=0&amp;Type=8"
           ignoreCase="true"/>
      <add name="admin-tai-khoan-quan-tri-themmoi"
           virtualUrl="^~/admin/them-moi-tai-khoan-quan-tri.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/admin.aspx?TypeAction=1&amp;Type=8"
           ignoreCase="true"/>
      <add name="admin-tai-khoan-quan-tri-edit"
           virtualUrl="^~/admin/tai-khoan-quan-tri-chinh-sua-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/admin.aspx?TypeAction=2&amp;Type=8&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>
      <add name="admin-tai-khoan-quan-tri-xoa"
           virtualUrl="^~/admin/tai-khoan-quan-tri-xoa-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/admin.aspx?TypeAction=3&amp;Type=8&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>
      <add name="admin-tai-khoan-quan-tri-capnhattrangthai"
           virtualUrl="^~/admin/tai-khoan-quan-tri-trangthai-(.*)-z-(.*).htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/admin.aspx?TypeAction=4&amp;Type=8&amp;Name=$1&amp;ID=$2"
           ignoreCase="true"/>

      <!--Tư vấn trực tuyến-->
      <add name="admin-tu-van-truc-tuyen"
           virtualUrl="^~/admin/tu-van-truc-tuyen.htm"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/admin/tu-van-truc-tuyen.aspx?TypeAction=0&amp;Type=9"
           ignoreCase="true"/>
    </rewrites>
  </urlrewritingnet>
  <appSettings>
    <add key="webpages:Enabled"
         value="true" />
    <add key="webPages:Version"
         value="2.0"/>
  </appSettings>

  <connectionStrings>
    <!--<add name="Connection" connectionString="Data Source=localhost;Initial Catalog=admin_HShop;Persist Security Info=True;User ID=sa;Password=1234567"
      providerName="System.Data.SqlClient" />-->

    <!--<add name="Connection" connectionString="Data Source=113.160.38.149;Initial Catalog=admin_s;Persist Security Info=True;User ID=thangnv;Password=thangnv" providerName="System.Data.SqlClient" />-->
    <!--<add name="Connection" connectionString="Data Source=CRAZYLADY-LAB;Initial Catalog=admin_s;Persist Security Info=True;User ID=sa;Password=1234567" providerName="System.Data.SqlClient" />-->

    <!--<add name="Connection"
         connectionString="Data Source=THANGNV\SQLEXPRESS;Initial Catalog=admin_HShop;Persist Security Info=True;User ID=sa;Password=1234567"
         providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <httpRuntime maxRequestLength="2147483644"
                 executionTimeout="3600"
                 maxUrlLength="2097151"
                 maxQueryStringLength="2097151"
                 requestValidationMode="2.0" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true"
                 targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpModules>
      <add name="UrlRewriteModule"
           type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5"
           clientIDMode="AutoID"
           validateRequest="false"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ScriptModule"/>
      <remove name="UrlRewriteModule"/>
      <add name="UrlRewriteModule"
           type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
      <add name="ScriptModule"
           preCondition="managedHandler"
           type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <add name="Wildcard"
           path="*"
           verb="*"
           type=""
           modules="IsapiModule"
           scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll"
           resourceType="Unspecified"
           requireAccess="Script"
           allowPathInfo="false"
           preCondition="classicMode,runtimeVersionv4.0,bitness32"
           responseBufferLimit="4194304"/>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory"
           verb="*"
           path="*.asmx"
           preCondition="integratedMode"
           type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices"
           verb="*"
           path="*_AppService.axd"
           preCondition="integratedMode"
           type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource"
           verb="GET,HEAD"
           path="ScriptResource.axd"
           preCondition="integratedMode"
           type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
